doctype html
html
  include ./includes/head.jade
  body(ng-app="stocksApp")
    div#main(ng-controller="StocksAppCtrl as ctrl")
      h1#title #{title}
      div#quoteInfo
        h3 Name: #{quoteData["Name"]}
        h3(ng-init='symbol="#{quoteData.Symbol}"') Symbol: #{quoteData.Symbol}
        h3(ng-init='listPrice="#{quoteData.LastPrice}"') Current Price #{quoteData.LastPrice}
        h3 Daily High: #{quoteData.High} Daily Low: #{quoteData.Low}
        button(ng-click="ctrl.toggle('#buyForm')") Order Form
        div#buyForm(style="display:none")
          h3 Fill out the below form to purchase shares of #{quoteData.Symbol}
          form(action="/purchase" method='POST')
            .form-group
              input(type='string' name="symbol" value='{{symbol}}' style="display:none")
            .form-group
              label Number of Shares:
              input(type='number' name="numShares" value='0' placeholder="1" ng-model="numShares")
              h4 Estimated Price Per Share
              p {{listPrice}}
              h4 Estimated purchase price in USD
              p {{(numShares * listPrice).toFixed(2)}}
            .form-group
              input(type='submit', placeholder='Submit')

    include ./includes/scripts.jade