doctype html
html
  include ./includes/head.jade
  body(ng-app="stocksApp")
    div.center-align.container#main(ng-controller="StocksAppCtrl as ctrl")
      h1#title #{title}
      div#quoteInfo.center-align.card
        table
          thead
            tr
              td Name
              td Symbol
              td Current Price
              td Daily High / Low
          tbody
            tr
              td #{quoteData["Name"]}
              td(ng-init='symbol="#{quoteData.Symbol}"') #{quoteData.Symbol}
              td(ng-init='listPrice="#{quoteData.LastPrice}"') #{quoteData.LastPrice}
              td #{quoteData.High} / #{quoteData.Low}

        button.btn.waves-effect.waves-light(ng-click="ctrl.toggle('#buyForm')") Order Form

        div#buyForm(style="display:none")
          h3 Fill out the below form to purchase shares of #{quoteData.Symbol}
          form(action="/purchase" method='POST')
            input(type='string' name="symbol" value='{{symbol}}' style="display:none")
            table
              thead
                tr
                  td Number of Shares
                  td Price
                  td Total (Estimated)
              tbody
                tr
                  td
                    input(type='number' name="numShares" value='0' placeholder="1" ng-model="numShares")
                  td {{listPrice}}
                  td {{(numShares * listPrice).toFixed(2)}}
                  td(ng-show="numShares > 0")
                    div.btn-floating.waves-effect.waves-light.green
                      input(type='submit' value='Buy')


    include ./includes/scripts.jade

